@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.background { 
    
    color: white;
    height: 600px;
    background: url(./theroad.jpg) no-repeat center center fixed; 
    background-size: cover;  
} 


.message {

    font-family: 'Righteous', sans-serif;
    font-size: x-large;
    text-align: center;
    font-weight: 600;
}