@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.background { 
    
    color: white;
    /* height: 100%; */
    
    height: 500px;
    background: url(./theroad.jpg) no-repeat center center fixed; 
    background-size: auto; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
} 

.middle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

h2 {

    font-family: 'Righteous', cursive;
    
    
}